@{
  Layout = "_Layout";
}

<h1>Fallout Shelter List!</h1>
<p>@Html.ActionLink("See all shelters", "Index", "Shelters")</p>
<p>@Html.ActionLink("See all survivors", "Index", "Survivors")</p>

<img src="~/img/arm.png" class="float-right" alt="...">
